name: Windows-11-RDP-Tailscale

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}

      - name: Setup RDP Access
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
          
          $Password = ConvertTo-SecureString "Pass123456@@" -AsPlainText -Force
          New-LocalUser "AdminRDP" -Password $Password -Description "RDP User"
          Add-LocalGroupMember -Group "Remote Desktop Users" -Member "AdminRDP"
          Add-LocalGroupMember -Group "Administrators" -Member "AdminRDP"

      - name: Keep Alive
        run: |
          Write-Host "RDP is Ready!"
          Write-Host "Connect using the Tailscale IP of this runner."
          $i = 360
          do {
            Write-Host "Remaining time: $i minutes"
            Start-Sleep -Seconds 60
            $i--
          } while ($i -gt 0)
