name: Tailscale Linux
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          authkey: "tskey-api-kooumq4BF811CNTRL-yDW969WEUk83PsGcKV9Ak8J3N2qqznKe"

      - name: Setup Access
        run: |
          sudo apt-get update
          sudo apt-get install -y xrdp
          echo "runner:password123" | sudo chpasswd
          sudo systemctl start xrdp

      - name: Keep Alive
        run: sleep 21600
